.store-wrapper2-2{
    width: 100%;
    position: relative;
    z-index: 1;
}
.text-slider{
    width: 80%;
    position: relative;
    
}
@media screen and (max-width: 856px) {
    .text-slider{
        width: 100%;
        
    }
    .text-slider-container .context-1,.text-slider-container .context-2{
        font-size: 12px;
    }

}
.text-slider-container{
    
    color: #fff;
    display: flex;
    font-size: 15px;
    padding-block: 6px;
    border-block: 1px solid ;
    background: #fff;
    overflow: hidden;
    user-select: none;
    width: 100%;
    background: #110f29;
    --gap:20px;
    gap: var(--gap);

}




.text-slider-container  ul{
    position: relative;
    top: 10px;
    flex-shrink: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 20s linear infinite;
}






@keyframes scroll{
    to{
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.text-slider-container .context-1{
    
    color: #ffd900;
    font-weight: bold;
}