@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



.about-header {
    background: radial-gradient(at center, #100c27, #000000);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.about-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    font-size: 60px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: blink 12s infinite, pop-up 1s ease-in;
}

@keyframes pop-up {
    0% {
        transform: scale(0) translateY(-100%) translateX(0%);
        filter: blur(10px);
    }

    30% {
        transform: scale(0.5) translateX(-100%);
        filter: blur(6px);
    }

    60% {
        transform: scale(6) translateX(100%);
        filter: blur(3px);
    }

    100% {
        transform: scale(1) translateY(0%) translateX(0%);
        filter: blur(0);
    }
}

.about-header-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    box-sizing: border-box;

}

.go-down-left {
    font-size: 30px;
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}

.go-down-left i:nth-child(1) {
    animation: shine1 2s ease-in infinite;
}

.go-down-left i:nth-child(2) {
    animation: shine2 2s ease-in infinite;
}

.go-down-left i:nth-child(3) {
    animation: shine3 2s ease-in infinite;
}

@keyframes shine1 {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }

    30% {
        opacity: 0;
        transform: scaleY(1.3);
    }

    100% {
        opacity: 0;
        transform: scaleY(1.3);
    }


}

@keyframes shine2 {
    30% {
        opacity: 1;
        transform: scaleY(1.3);
    }

    60% {
        opacity: 0;
        transform: scaleY(1.3);
    }

    100% {
        opacity: 0;
        transform: scaleY(1.3);
    }

}

@keyframes shine3 {
    60% {
        opacity: 1;
        transform: scaleY(1.3);
    }

    100% {
        opacity: 0;
        transform: scaleY(1);
    }

}

.go-down-left i:nth-child(1) {
    position: relative;
    top: 10px;
}

.go-down-left i:nth-child(3) {
    position: relative;
    bottom: 10px;
}

.go-down-right {
    font-size: 30px;
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    color: white;
    text-shadow: #FC0 1px 0 10px;

}

.go-down-right i:nth-child(1) {
    position: relative;
    top: 10px;
}

.go-down-right i:nth-child(3) {
    position: relative;
    bottom: 10px;
}

.go-down-right i:nth-child(1) {
    animation: shine1 2s ease-in infinite;
}

.go-down-right i:nth-child(2) {
    animation: shine2 2s ease-in infinite;
}

.go-down-right i:nth-child(3) {
    animation: shine3 2s ease-in infinite;
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

.btn-wrapper {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    animation: slide 2s ease;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}


.btn-wrapper a {
    flex: 40px 0 0;
    padding: 0.3rem;
    height: 90%;
    opacity: 0.8;

}

.btn-wrapper a:nth-child(1) {
    animation: glows1 7s ease-in-out infinite;

}

.btn-wrapper a:nth-child(2) {
    animation: glows2 7s ease-in-out infinite;

}

.btn-wrapper a:nth-child(3) {
    animation: glows3 7s ease-in-out infinite;

}

.btn-wrapper a:nth-child(4) {
    animation: glows2 7s ease-in-out infinite;

}

.btn-wrapper a:nth-child(5) {
    animation: glows1 7s ease-in-out infinite;

}

@keyframes glows1 {
    0% {
        transform: scale(1) translateY(0);
        opacity: 0;
        text-shadow: none;
        color: #ffffff;

    }

    10% {
        transform: scale(1.5) translateY(-9px);
        opacity: 1;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }

    20%,
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
        text-shadow: none;
        color: #ffffff;

    }
}

@keyframes glows2 {

    0%,
    20% {
        transform: scale(1) translateY(0);
        opacity: 1;
        text-shadow: none;
        color: #ffffff;

    }

    30% {
        transform: scale(1.5) translateY(-9px);
        opacity: 1;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }

    40%,
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
        text-shadow: none;
        color: #ffffff;

    }
}

@keyframes glows3 {

    0%,
    40% {
        transform: scale(1) translateY(0);
        opacity: 1;
        text-shadow: none;
        color: #ffffff;

    }

    50% {
        transform: scale(1.5) translateY(-9px);
        opacity: 1;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }

    60%,
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
        text-shadow: none;
        color: #ffffff;

    }

}

.btn-wrapper a:hover {
    transform: scale(1.5) translateY(-9px);
    opacity: 1;
    transition: 0.4s ease-in;
    animation: blink 12s infinite;
}

.btn-wrapper i {
    font-size: 40px;
    color: #ffffff;
    object-fit: contain;
}